@import "normalize";
@import "variables";
@import "placeholders";

@import "sections/header";
@import "sections/mission";
@import "sections/clients";
@import "sections/products";
@import "sections/map";


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Mada', sans-serif;
    color: $text-color;
}

section {
    text-align: center;
    padding-bottom: 160px;
}

a {
    text-decoration: underline;
}

.main-btn {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
    border: 0;
    transition: .3s;
    cursor: pointer;
    background-color: $primary;

    &:hover {
        transform: scale(1.2);
    }
}

.section-title {
    font-family: 'Homenaje', sans-serif;
    font-size: 50px;
}




