.clients-section {
    background-image: url("../images/clients-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;

    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .section-title {
        color: #fff;

        @media (max-width: 575px) {
            margin-bottom: 0;
        }
    }

    .image-wrapper {
        position: relative;

        @media (max-width: 991px) {
            width: 300px;
            padding-top: 80px;
        }
        @media (max-width: 767px) {
            margin: 0 auto;
        }

        .iPad {
            transform: translateX(-20%);
            @media (max-width: 991px) {
                width: 85%;
            }
        }
        .iPad-screen {
            position: absolute;
            top: 20px;
            left: 52px;
            @media (max-width: 991px) {
                width: 52%;
                top: 92px;
            }
        }
    }
    .clients-description-wrapper {
        text-align: left;
        font-weight: 300;
        padding-left: 30px;
        padding-top: 30px;

        &::before {
            @extend %quotes;
            content: ",,";
            left: 0;
        }

        @media (max-width: 767px) {
            padding-left: 50px;
            &::before {
                left: 20px;
            }
        }

        .clients-description {
            font-size: 30px;    
            line-height: 42px;

            @media (max-width: 575px) {
                font-size: 24px;
            }
        }

        .signature {
            font-size: 22px;    
            line-height: 27px;

            @media (max-width: 575px) {
                font-size: 18px;
            }

            a {
                color: #fff;
            }
        }

        .tags-wrapper {
            display: flex;
            margin-top: 40px;
            flex-wrap: wrap;

            .tag {
                font-size: 15px;    
                line-height: 18px;
                color: #fff;
                border: 1px solid #fff;
                padding: 3px 8px;
                margin-bottom: 3px;

                &:nth-child(2) {
                    margin: 0 3px 3px 3px;
                }
            }
        }
    }
}


/* Carousel */

.carousel {
    .carousel-cell {
        width: 100%;
    }
}

.flickity-page-dots .dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0.5;
    margin-left: 6px;
    margin-right: 6px;
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
}

.flickity-button {
    display: none;
}

@media (max-width: 767px) {
    .flickity-page-dots {
        bottom: -40px;
    }
}