.map-section {
    position: relative;
    text-align: left;
    padding: 0;

    .adress {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .adress-content {
        max-width: 350px;
        padding: 20px 15px 15px 63px;
        font-size: 22px;
        line-height: 24px;
        font-weight: 300;
        display: inline-block;
        background-color: rgba(241,241,241,0.9);
        border-radius: 5px;
        position: relative;

        @media (max-width: 575px) {
            max-width: 300px;
        }

        .company-name {
            font-weight: 400;
        }

        .compass {
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }
}
