.mission-section {
    padding-top: 50px;
    
    @media (max-width: 767px) {
        padding-bottom: 80px;
    }

    .mission-description {
        margin: 0;
        text-align: left;
        padding-left: 85px;
        padding-right: 120px;
        font-size: 22px;
        font-weight: 300;
        line-height: 40px;
        position: relative;

        @media (max-width: 767px) {
            padding-right: 0;
        }
        @media (max-width: 767px) {
            padding-left: 40px;
        }

        &::before {
            @extend %quotes;
            content: ",,";

            @media (max-width: 767px) {
                left: 0;
            }
        }
    }
}